@inherits YeeSection
@using Yee.Section.Navigation
@inject NavigationManager _navManager
@using Yee.Section.Prototypes
@using Yee.Cabaret.Sections.Prototypes

<section class="cab-menu-section">
<div class="container">
    <div class="cab-heading-box">
        <div class="cab-small-heading">
            <h6>@Menu.Value.CabSubHeading</h6>
        </div>
        <div class="cab-main-heading">
            <h1>@Menu.Value.CabBigHeading</h1>
        </div>
    </div>
    <div class="cab-menu-content-box">
        <ul class="nav nav-pills" role="tablist">
            @foreach(var tab in Menu.Value.Tabs.Select((v, i) => (v, i)))
            {
                <li class="active">
                    <a href="@($"#menu{tab.i}")" aria-controls="@($"menu{tab.i}")" role="tab" data-toggle="tab" aria-expanded="true">
                        @tab.v.TabName
                    </a>
                </li>
            }
        </ul>

        <div class="tab-content">
            @foreach(var tab in Menu.Value.Tabs.Select((v, i) => (v, i)))
            {
                <div role="tabpanel" class="tab-pane fade active in" id="@($"menu{tab.i}")">
                    <div class="row">
                            <div class="cab-menu-list" style="padding: 0px; display: flex; flex-direction: column; justify-content: flex-start; flex-wrap: wrap;" >
                            @foreach(var item in tab.v.MenuItems)
                            {
                                <div class="cab-menu-item clearfix" style="box-sizing: border-box; max-width: 50%;">
                                    <div class="menu-title">
                                            <h6>
                                                @item.ItemName
                                                @if(item.IsNew.Value)
                                                {
                                                    <span class="tag-new">New</span>
                                                }
                                            </h6>
                                        <p>@item.Ingridients</p>
                                    </div>
                                    <div class="menu-price">
                                        <span class="price-tag">
                                            @($"{item.Price}{Menu.Value.PriceDisplay}")
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="view-all-menu-btn">
                        <a href="#" class="secondary-link">@tab.v.ButtonContent</a>
                    </div>
                </div>
            }
        </div>
        <div class="cab-menu-section-bottom text-center">
            <img src="@Menu.Value.Img" alt="Cab Menu Image">
        </div>
    </div>
</div>
</section>

@code {
    [Parameter]
    [System.ComponentModel.DisplayName("Меню")]
    public ProtoMenu Menu { get; set; }
}
