@inherits YeeSection
@inject NavigationManager _navManager
@attribute [System.ComponentModel.DisplayName("Элементы навигации")]

@foreach (var item in MenuItems.Value)
{
    if (item.IsGroup)
    {
        <li class="has-dropdown @(Class.ToString())">
            <a @onclick="() => ToNav(item.Link)" class="@Active(item)" style="cursor: pointer;">@item.Title</a>
            <div class="dropdown-wrapper">
                <ul>
                    @foreach (var child in item.ChildItems)
                    {
                        <li>
                            <a @onclick="() => ToNav(child.Link)" class="@Active(child)" style="cursor: pointer;">@child.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    if (item.IsGroup == false)
    {
        <li>
            <a @onclick="() => ToNav(item.Link)" class="@Active(item)" style="cursor: pointer;">@item.Title</a>
        </li>
    }
}

@code {
    [Parameter]
    [System.ComponentModel.DisplayName("Элементы меню")]
    public ProtoNavigation MenuItems { get; set; }

    [Parameter]
    public ProtoCssClass Class { get; set; }

    public string Active(NavMenuItem menuItem)
    {
        if (menuItem.IsActive(NavigationManager.Uri))
        {
            return "active";
        }

        return "";
    }
}
